/* Base button styles */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.button:hover {
  opacity: 0.8;
}

.songInfoTr {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
  overflow: hidden;
}

